<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imagetools.select">

    <!--  获取相册图片媒体文件资源读取权限  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--  获取拍照权限  -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        tools:targetApi="q">
        <activity
            android:name="com.imagetools.select.ui.activity.ImageSelectActivity"
            android:theme="@style/ImageSelectActivity" />
        <activity
            android:name=".ui.activity.ImageDetailsActivity"
            android:theme="@style/ImagePagerActivity" />

        <provider
            android:name=".provider.ImageProvider"
            android:authorities="${applicationId}.select.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_provider_paths" />
        </provider>
    </application>
</manifest>